<footer>

    <script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>

            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><img src="{{ "images/logoIASA.png" }}" alt="IASA logo"/></p>
                </div>
                          
            </div>
            <div id="backtop">
            <a href="#">TOP</a>
            </div> 
</footer>

{% comment %} Copyright 2022 IASA {% endcomment %}

<style>

#backtop a { /* back to top button */
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    width:50px;
    height: 50px;
    position: fixed;
    bottom: 10px; /*  The distance from the small button to the bottom of the browser  */
    right: 60px; /*  The distance from the small button to the right border of the browser  */
    color: rgb(64,120,192); /*  The color of the text in the small button  */
    z-index: 1000;
    background: #fff; /*  Small button background  */
    padding: auto; /*  The distance from the text in the small button to the edge of the button  */
    border-radius: 50px; /*  The bending degree of the small button fillet （ radius ）*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-weight: bold; /*  The thickness of the text in the small button  */
    text-decoration: none !important;
    box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 #ffffff inset;
}

#backtop a:hover { /*  When the mouse hovers over the small button  */
    background: rgba(64,120,192,0.8); /*  The background color of the small button  */
    color: #fff; /*  Text color  */
}

</style>